<div>
    <div class="submit-form">
      <div *ngIf="!submitted">
        <div class="form-group">
          <label for="title">manufacturer</label>
          <input
            type="text"
            class="form-control"
            id="title"
            required
            [(ngModel)]="tutorial.manufacturer"
            name="title"
          />
        </div>
  
        <div class="form-group">
          <label for="description">model</label>
          <input
            class="form-control"
            id="description"
            required
            [(ngModel)]="tutorial.model"
            name="description"
          />
        </div>
        <div class="form-group">
            <label for="description">year</label>
            <input
              class="form-control"
              id="description"
              required
              [(ngModel)]="tutorial.year"
              name="description"
            />
          </div>
          <div class="form-group">
          <label for="description">price</label>
          <input
            class="form-control"
            id="description"
            required
            [(ngModel)]="tutorial.price"
            name="description"
          />
        </div>
  
        <button (click)="saveTutorial()" class="btn btn-success">Submit</button>
      </div>
  
      <div *ngIf="submitted">
        <h4>Tutorial was submitted successfully!</h4>
        <button class="btn btn-success" (click)="newTutorial()">Add</button>
      </div>
    </div>
  </div>